<template>
  <div id="app">

    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Clínicas</a>
      </div>
    </nav>

    <div class="container">

    <ul>
        <li v-for="(error, index) in errors" v-bind:key="index">
            <ul>
                <li v-for="(message, index) in error" v-bind:key="index">
                   <b>{{message}}</b>
                </li>
            </ul>
        </li>
    </ul>

      <form @submit.prevent="store">

          <label>Nome</label>
          <input type="text" placeholder="Nome" v-model="clinic.name">
          <label>CNES</label>
          <input type="number" placeholder="CNES" v-model="clinic.cnes">
          <label>Propietário</label>
          <input type="text" placeholder="Propietário" v-model="clinic.owner">
          <label>CNPJ</label>
          <input type="text" placeholder="CNPJ" v-model="clinic.cnpj">

          <button class="waves-effect waves-light btn-small">Salvar<i class="material-icons left">save</i></button>

      </form>

      <table>

        <thead>

          <tr>
            <th>NOME</th>
            <th>CNES</th>
            <th>PROPIETÁRIO</th>
            <th>CNPJ</th>
            <th>OPÇÕES</th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="clinic of clinics" :key="clinic.id">

            <td>{{clinic.name}}</td>
            <td>{{clinic.cnes}}</td>
            <td>{{clinic.owner}}</td>
            <td>{{clinic.cnpj}}</td>
            <td>
              <button @click="edit(clinic)" class="waves-effect btn-small blue darken-1"><i class="material-icons">create</i></button>
              <button class="waves-effect btn-small red darken-1"><i class="material-icons">delete_sweep</i></button>
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>
</template>

<script>

import Clinic from './services/clinics'

export default {
    data() {
        return {
            clinic: {
                name: '',
                cnes: '',
                owner: '',
                cnpj: ''
            },

            clinics: [],
            errors: []
        }
    },

    mounted(){
        this.index()
    },

    methods:{
        index(){
            Clinic.index().then(response => {
                this.clinics = response.data.data
            })
        },

        store(){

            if(!this.clinic.id){
                Clinic.store(this.clinic).then(response => { //eslint-disable-line no-unused-vars
                    this.clinic = {}
                    alert('Salvo com Sucesso!')
                    this.index()
                    this.errors = {}
                }).catch(e => {
                    this.errors = e.response.data.errors 
                })
            } else {

                Clinic.update(this.clinic).then(response => { //eslint-disable-line no-unused-vars
                    this.clinic = {}
                    this.errors = {}
                    alert('Atualizado com Sucesso!')
                    this.index()
                }).catch(e => {
                    this.errors = e.response.data.errors 
                })
            }
        },

        edit(clinic){
          this.clinic = clinic
        },

        destroy(clinic){
            if(confirm('Deseja excluir o clinic?')){
                Clinic.destroy(clinic).then(response => { //eslint-disable-line no-unused-vars
                    this.index()
                    this.errors = {}
                }).catch(e => {
                    this.errors = e.response.data.errors
                })
            }
        }

    }

}


</script>

<style>

</style>
